#header {
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0 8px 6px -6px lightgray;
  -moz-box-shadow: 0 8px 6px -6px lightgray;
  box-shadow: 0 8px 6px -6px lightgray;
  background-color: white;
  width: 980px;
  height: 73px;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
#header .header-left {
  width: 230px;
}
#header .header-left a .img_logo {
  margin: 7px;
  width: 59px;
  height: width;
}
#header .header-right {
  display: flex;
  width: 750px;
}
#header .header-right .avatar {
  justify-content: flex-start;
  width: 300px;
  margin-top: 22px;
  align-items: center;
}
#header .header-right .avatar a {
  text-decoration: none;
  color: #999999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#header .header-right .avatar a .img_avatar {
  width: 35px;
  height: width;
  border-radius: 3px;
}
#header .header-right .avatar a span {
  font-size: 12px;
  padding-left: 10px;
}
#header .header-right .menu {
  justify-content: flex-end;
  width: 450px;
}
#header .header-right .menu ul {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  padding-top: 22px;
  margin: 0 24px 0 0;
}
#header .header-right .menu ul li {
  text-align: center;
  list-style: none;
  line-height: 18px;
  padding-left: 10px;
}
#header .header-right .menu ul li a {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 37px;
}
#header .header-right .menu ul li a .icon-menu {
  height: 17px;
  width: auto;
}
#header .header-right .menu ul li a .icon-menu.mess {
  height: 14px;
}
#header .header-right .menu ul li a .icon-menu.bars {
  height: 20px;
  padding-left: 26px;
  padding-bottom: 15px;
}
#header .header-right .menu ul li a span {
  color: #999999;
  font-size: 12px;
  padding-top: 7px;
}
#header .header-right .menu ul li a .popup {
  width: 17px;
  height: 17px;
  position: absolute;
  background-color: #F89938;
  border-radius: 50%;
  z-index: 999;
  top: -15px;
  right: 9px;
  color: white;
  font-size: 10px;
}

body {
  margin: 0;
}

.container_content {
  width: 980px;
}

.main_content .card-item {
  width: 31%;
  background-color: white;
  height: 280px;
  float: left;
  margin: 30px 5px 5px 5px;
  border-radius: 15px;
}
.main_content .card-item .head {
  background-color: #5cd2e4;
  width: 100%;
  height: 50px;
  border-radius: 15px;
}

.page6 section .cards_container {
  margin: 15px auto;
  width: 488px;
  display: flex;
}
.page6 section .cards_container .card_item {
  height: 300px;
  width: 230px;
  border-radius: 20px;
  background-color: white;
  margin: 7px;
}
.page6 section .cards_container .card_item .header {
  height: 50px;
  width: 100%;
  background-color: #00a3af;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page6 section .cards_container .card_item .header .icon_wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}
.page6 section .cards_container .card_item .content {
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 250px;
}
.page6 section .cards_container .card_item .content div {
  position: relative;
  margin-top: 15px;
  width: 230px;
  height: 135px;
}
.page6 section .cards_container .card_item .content div img.img1 {
  width: 230px;
  height: 135px;
  background-color: gray;
}
.page6 section .cards_container .card_item .content div img.img2 {
  width: 114px;
  width: 114px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page6 section .cards_container .card_item .content p {
  margin: 0;
}
.page6 section .cards_container .card_item .content p.p1 {
  color: black;
  font-size: 14px;
  margin-top: 20px;
}
.page6 section .cards_container .card_item .content p.p2 {
  color: #FF6C8E;
  font-size: 12px;
  margin-top: 10px;
  padding: 2px 0;
  border: 3px solid #FF6C8E;
  border-radius: 5px;
}
.page6 section .lists_container {
  height: 300px;
  width: 680px;
  border-radius: 20px;
  background-color: white;
  margin: auto;
}
.page6 section .lists_container .header {
  height: 50px;
  width: 100%;
  background-color: #00a3af;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
