.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0;
    text-align: left
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-danger{
    color: #721c24; 
    background-color: #f8d7da; 
    border-color: #f5c6cb;
}
.alert a {
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
    transition: all .2s ease-in-out;
    font-weight: 700;
}