$background_pannel      : #00a3af;
$color_heading_pannel   : #fff;
$color_table_heading    : #4472c4;
$min_width_table_heading: 100px;

.entryprise-student{

    .cart{
        .cart-heading{

            background-color       : $background_pannel;
            color                  : $color_heading_pannel;
            font-size              : 18px;
            padding                : 20px 15px 10px 15px;
            border-top-left-radius : 15px;
            border-top-right-radius: 15px;
        }
    }
    .pannel-body{
        
        padding: 15px;

        .row-table-infor{
            display: block;

            .thead{
                color    : $color_table_heading;
                min-width: $min_width_table_heading;
                display  : inline-block;
            }
            .information{
                display: inline-block;
            }
        }
    }
}
