$text_color              : #00a3af;
$text_color_hover        : #00a3af;
$background_color        : #b8ddc0;
$background_color_hover  : #9dd29c;
$font_weight_hover       : bold;
$counter_color           : #fff;
$counter_background      : #ff6c8e;
$max_width_main_content  : 991px;
$width_sidebar           : 270px;
$background_color_defailt: #dfe6e6;

$sidebar_color : $text_color;
$sidebar_background_color : $background_color;
$sidebar_background_color_hover : $background_color_hover;


$width_sidebar      : 230px;
$width_logo_sidebar : 20px;
$height_logo_sidebar: 20px;


.icon-svg{
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;

    svg{
        max-width: 28px;
        max-height: 28px;
        text-align: center;
        vertical-align: middle;
        font-weight: bold;
    }
}


@mixin sidebar-link($color, $hover) {
    ul.list-menu-sidebar {
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            a {
                vertical-align: middle;
                text-decoration: none;
                display  : block;
                padding  : 20px 35px;
                font-size: 16px;
                color    : $color;
                text-align: left;
    
                i.fa, i.fas, i.fab{
                    width: 30px;
                    height: 20px;
                }
                .counter{
                    color: $counter_color;
                    background-color: $counter_background;
                    border-radius: 3px;
                    padding: 2px 6px;
                    margin-left: 10px;
                }
            }
            a:hover{
                
                background-color: $hover;
                font-weight     : $font_weight_hover;
            }
        }
    }
}
.left-sidebar{
    width           : $width_sidebar;

    &.default{
        background-color: $sidebar_background_color;

        @include sidebar-link($sidebar_color, $sidebar_background_color_hover)
    }
}

.wrapper-main-content{
    max-width: $max_width_main_content;
    display: flex;
    margin: 0 auto;
    
    .wrapper-sidebar{
        background-color: $background_color;
    }
    .wrapper-content{
        background-color: $background_color_defailt;
        padding: 15px;
        flex-grow: 999;
    }
}