$container_margin: 15px;
$card_border: 12px;
@mixin card_item($height: 100%, $width:100%, $borderRadius: 12px) {
    height: $height;
    width: $width;
    border-radius: $borderRadius;
    background-color: white;
}

.faq {
    background-color: #DFE6E6;
    padding: 0;
    min-height: $content_min_height;
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        .header {
            margin: $container_margin auto;
            width: 550px;
            height: 42px;
            border-radius: 20px;
            border: 1px solid white;
            background-color: #00A3AF;
            display: flex;
            justify-content: center;
            align-items: center;
            @include box_shadow();
            span {
                font-size: convert(21pt, px);
                line-height: convert(21pt, px);
                color: white;
            }
            img {
                width: 23.5px;
                height: 23.5px;
                margin-right: 10px;
            }
        }
        .content {
            width: 560px;
            display: flex;
            flex-direction: column;
            .wrapper_content {
                .question_div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: 100%;
                    height: auto;
                    margin: 12.5px 0;
                    .question_content {
                        width: 525px;
                        height: auto;
                        min-height: 46px;
                        border-radius: 12px;
                        background-color: white;
                        cursor: pointer;
                        @include box_shadow();
                        .img_div {
                            width: 45px;
                            height: 45px;
                            padding-top: 2px;
                            img {
                                width: 100%;
                                height: 100%;
                                margin-top: 2px;
                                display: block !important;
                            }
                            float: left;
                        }
                        p {
                            width: calc(100% - 45px);
                            float: left;
                            font-size: convert(14pt, px);
                            line-height: convert(18pt, px);
                            padding: 15px 3px;
                            .highlight {
                                color: #0000FF;
                            }
                        }
                    }
                    .img_expand {
                        width: 18px;
                        height: 18px;
                        img {
                            height: 100%;
                            width: 100%;
                        }
                        img:nth-child(1) {
                            display: block;
                        }
                        img:nth-child(2) {
                            display: none;
                        }
                    }
                }
                .answer_div {
                    display: none;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 100%;
                    height: auto;
                    margin: 15px 0;
                    .answer_content {
                        width: 525px;
                        height: auto;
                        min-height: 46px;
                        border-radius: 12px;
                        background-color: white;
                        @include box_shadow();
                        .img_div {
                            width: 45px;
                            height: 45px;
                            margin-top: 2px;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                            float: left;
                        }
                        p {
                            width: calc(100% - 45px);
                            float: left;
                            font-size: convert(14pt, px);
                            line-height: convert(18pt, px);
                            padding: 15px 3px;
                            .highlight {
                                color: #0000FF;
                            }
                        }
                    }
                }
            }
        }
    }
}